/* .poster {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 200px;
  height: 250px;
}

.poster:hover {
  cursor: pointer;
  box-shadow: 0 0 2px 1px rgba(50, 59, 62, 0.5);
}

.hover-effect:hover {
  transform: scale(1.1);
} */