<div class="container mb-5">
  <div class="row mt-5 m">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="input-group input-group-">
        <input 
          type="text" 
          [(ngModel)]="movieName"
          #currentInput
          class="form-control" 
          placeholder="Enter movie title..."
          />
          <button 
          (click)="searchMovie()"
          (click)="currentInput.value=''"
          class="btn btn-primary search-icon">
        <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  <div>
    <div *ngIf="showMovies == true">
      <h1 class="mt-5 text-muted">Search Results for "{{movieVal.charAt(0).toUpperCase() + movieVal.slice(1)}}"</h1>
      <div *ngFor="let item of movieResult; let i = index">
        <div class="row border border-info mb-2">
          <div class="col-8 py-2 text-center">
            <img 
            class="img-size"
            src="{{ item.image }}"
            />
          </div>
          <div class="col-4">
            <h3 class="fw-bold mb-3" *ngIf="i < 12">
              {{ item.title.charAt(0).toUpperCase() + item.title.slice(1)}}
            </h3>
            <h5>Description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, perspiciatis!</h5>
            <h5>Actors: John Doe, John Wayne, Jane Doe, G.I. Jane</h5>
            <p *ngIf="i < 12" class="fst-italic">{{ item.year }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>