<!-- prod -->
<div class="container">
  <h1 class="mt-5 mb-3">Most Popular Movies</h1>
  <div class="row">
  <div *ngFor="let item of data; let i = index" class="col-md-4 col-sm-6 col-12 hover-effect">
    <img
        src="{{ item.image }}"
        alt="poster-image"
        class="poster mx-auto d-block"
        *ngIf="i < 12"
      />
  <h5 *ngIf="i < 12">{{ item.title }}</h5>
  <small *ngIf="i < 12">{{ item.year }}</small>
</div>  
  </div>
</div>

<!-- test -->
<!-- <div class="container mb-5">
  <h1 class="mt-5 mb-3">Most Popular Movies</h1>
  <div class="row">
    <div
      *ngFor="let item of data; let i = index"
      class="col-md-4 col-sm-6 col-12 hover-effect"
    >
      <img
        src="{{ item.thumbnailUrl }}"
        alt="poster-image"
        class="poster mx-auto d-block"
        *ngIf="i < 12"
      />
      <h5 *ngIf="i < 12">{{ item.title }}</h5>
      <small *ngIf="i < 12">{{ 2022 }}</small>
    </div>
  </div>
</div> -->


