<!-- <p>{{ name }}</p> -->

<!-- <h1>Show API List</h1>
<table border="1">
  <tr>
    <td>ID</td>
    <td>Title</td>
    <td>User ID</td>
  </tr>

  <tr *ngFor="let item of data">
    <td>{{item.id}}</td>
    <td>{{item.title}}</td>
    <td>{{item.userId}}</td>
  </tr>
</table> -->

<!-- **** -->
<app-input></app-input>
<h1>Most Popular Movies</h1>
<table border="1">
  <tr>
    <td>ID</td>
    <td>Title</td>
    <td>Year</td>
  </tr>

  <!-- top 10 results, most popular -->
  <!-- api call limit -->
  <tr *ngFor="let item of data; let i = index">
    <td *ngIf="i<10">{{item.id}}</td>
    <td *ngIf="i<10">{{item.title}}</td>
    <td *ngIf="i<10">{{item.year}}</td>
  </tr>
</table>