<nav class="navbar navbar-expand-md sticky-top nav-color">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Feature Flicks</a>
    <button
      class="navbar-toggler menu-border collapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link nav-color" routerLink="/home"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link nav-color" routerLink="/input">Search</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
