@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Smooch&display=swap');

nav.nav-color {
  background-color: rgb(3, 113, 113);
}

.nav-link {
  color: #fff;
}

.navbar-brand {
  font-size: 30px;
  font-family: 'Smooch', sans-serif;
} 

.menu-border {
  border: solid 1px white;
}
